body {
    margin: 0;
    background-color: white;
}

a {
    text-decoration: none;
}

#header {
    border: 1px solid black;
    height: 20vh;
    width: 100vw;
    background-color: blue;
}

#header__text {
    color: orange;
    font-size: 75px;
    font-weight: bold;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 0;
    margin-left: 30%;
    margin-top: 1.3%;
    text-shadow: 20px 20px 20px black;
}

#first-game-box {
    border: 1px solid white;
    background-image: url(https://assetsds.cdnedge.bluemix.net/sites/default/files/styles/very_big_1/public/feature/images/indie_collision_by_memoski-d7e6xne.png?itok=XL84p6B8);
    background-size: cover;
    background-position-y: 50%; 
    background-repeat: no-repeat;
    height: 35vh;
    width: 98.5vw;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 1s ease;
}

#first-game-box:hover {
    box-shadow: 4px 4px 4px 4px blue;
}

#first-game-text {
    color: orange;
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
    margin-left: 0px;
    font-size: 50px;
    border: 1px solid black;
    background-color: black;
    opacity: .7;
    width: 98.3vw;
}

#second-game-box {
    border: 1px solid white;
    margin-left: 10px;
    margin-top: 10px;
    width: 98.5vw;
    height: 35vh;
    transition: all 1s ease;
    background-image: url(https://steamcdn-a.akamaihd.net/steam/bundles/8654/sc4xuexf1rtiahz4/header_586x192.jpg?t=1565992943);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -30px;
}

#second-game-box:hover {
    box-shadow: 4px 4px 4px 4px blue;
}

#second-game-text {
    color: orange;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    border: 1px solid black;
    opacity: .7;
    background-color: black;
    width: 98.3vw;
}

#third-game-box {
    border: 1px solid white;
    margin-left: 10px;
    margin-top: 10px;
    width: 98.5vw;
    height: 35vh;
    transition: all 1s ease;
}

#third-game-box:hover {
    box-shadow: 4px 4px 4px 4px blue;
}

#third-game-text {
    color: lime;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}