body {
    margin: 0;
}

#header {
    border: 1px solid black;
    height: 20vh;
    width: 100vw;
    background-color: skyblue;
}

#header__text {
    color: red;
    font-size: 75px;
    font-weight: bold;
    padding: 0;
    margin-left: 30%;
    margin-top: 1.3%
}